/*body, html {
    height: 100%;
}*/

.center-page
{
  margin: auto;
}

.center-page > header > h1 {
    text-align: center;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    margin-bottom: 0px;
}

section.bg-image {
    background-image: url('../assets/images/mdht_group2.png');
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /*padding-top: 10%;*/
    /*padding-bottom: 50%;*/
    
    
}

section.bg-image > div {
    display: block;
    align-items: center;
    text-align: center;
    align-self: center;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 40px;
    /*padding-left: 60px;
    padding-right: 40px;*/
}

section.bg-image > div > h1, h3 {
    /*margin-left: 100px;
    margin-right: 100px;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hero-button {
    background-color: #00457b;
    color: #fff;
    border-color: #00457b;
    border-radius: 5px;
    min-width: 10rem;
    padding: 0.5rem;
}

.hero-button:hover {
    background-color: #A34133;
    color: #fff;
    border-color: #A34133;
    border-radius: 5px;
    min-width: 10rem;
    padding: 0.8rem;
}

.div-text-button {
        background-color: #00467b6b;
        color: #fff;
        border-color: #00457b;
        border-radius: 5px;
        min-width: 250px;
        max-width: 500px;
        padding: 40px 40px 40px 40px;
        display: inline-block;
        align-items: center;
}

table {
    display: flex;
    justify-content: center;
}
td {
    padding: 10px;
}

.row_1 {
    display: flex;
    justify-content: center;
}

/*.column_1 {
    display: flex;
    flex-direction: column;
}*/